<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default/layout}">
<head>
    <meta charset="UTF-8">
    <title>Menu Mixue Mới Nhất 2025 - Mixue Việt Nam</title>
    <link rel="stylesheet" href="/default/css/about.css">
</head>
<section layout:fragment="main-content">
    <div class="menu-mixue-container">
        <h1 class="menu-mixue-title">Menu Mixue Mới Nhất Cập Nhật Từ Mixue 2025 - Mixue Việt Nam</h1>
        <div class="menu-mixue-sub">Menu được cập nhật thường xuyên, áp dụng trên toàn bộ cửa hàng Mixue</div>
        
        <!-- Giới thiệu về Mixue -->
        <div class="about-mixue-block">
            <div class="about-mixue-content">
                <div class="about-mixue-left">
                    <h2 class="about-mixue-title">Về Mixue</h2>
                    <p class="about-mixue-desc">
                        Mixue (蜜雪冰城 - Mìxuě Bīngchéng) có nghĩa là "thành phố băng mật ngọt" được thành lập vào năm 1997 bởi Zhang Hongchao, khi đó là một sinh viên tại Đại học Kinh tế và Luật Hà Nam, Trung Quốc. Ban đầu, đây chỉ là một quầy bán đá bào và đồ uống lạnh trên đường phố Trịnh Châu, được mở với khoản vay 3.000 nhân dân tệ từ bà của ông.
                    </p>
                    <p class="about-mixue-desc">
                        Sau nhiều lần thất bại và khởi động lại, cửa hàng Mixue đầu tiên thành công được mở vào năm 2003 trong một nhà máy nhôm bỏ hoang. Nhờ vị trí gần trường học, cửa hàng nhanh chóng được học sinh yêu thích và kinh doanh dần ổn định. Năm 2006, Mixue giới thiệu kem mềm với giá chỉ 1 nhân dân tệ, nhanh chóng trở thành sản phẩm bán chạy nhất và là sản phẩm đặc trưng đầu tiên của thương hiệu.
                    </p>
                    <p class="about-mixue-desc">
                        Năm 2007, Mixue bắt đầu nhượng quyền sau khi mở một cửa hàng kem mới. Năm 2008, công ty thành lập Mixue Ice Cream & Tea Trading Co., Ltd. để quản lý mạng lưới nhượng quyền ngày càng phát triển. Mixue đã mở rộng ra khỏi Trung Quốc vào ngày 5 tháng 9 năm 2018 với cửa hàng đầu tiên tại Hà Nội, Việt Nam.
                    </p>
                    <p class="about-mixue-desc">
                        Hiện nay, Mixue đã phát triển thành chuỗi cửa hàng đồ uống lớn nhất thế giới với hơn 20.000 cửa hàng trải dài khắp Trung Quốc, Việt Nam, Philippines, Singapore, Thái Lan, Malaysia, Indonesia và nhiều quốc gia khác. Thương hiệu nổi tiếng với các sản phẩm chất lượng cao nhưng giá cả phải chăng, từ kem đến trà sữa và đồ uống trà trái cây.
                    </p>
                </div>
                <div class="about-mixue-right">
                    <img th:src="@{/images/aboutus.jpg}" alt="Mixue Ice Cream & Tea" class="about-mixue-img">
                </div>
            </div>
        </div>
    
        <!-- Menu tổng quan -->
        <div class="menu-mixue-block">
            <img th:src="@{/images/menu1.jpg}" alt="Menu Mixue 2025" class="menu-mixue-img">
            <p class="menu-mixue-desc">
                <b>Menu Mixue</b> rất đa dạng, gồm nhiều thành phần chiết khấu, đủ dùng ngon miệng với mức giá cực tốt giữa hè oi bức. Món nhiều người thích nhất là Mixue trà sữa, kem tươi, trà trái cây, đá xay, kem ốc quế... Hãy xem chi tiết menu và giá mới nhất bên dưới nhé!
            </p>
        </div>
    
        <!-- Menu kem -->
        <h2 class="menu-mixue-section-title">Menu Mixue Kem</h2>
        <div class="menu-mixue-block">
            <img th:src="@{/images/menu2.jpg}" alt="Menu Kem Mixue" class="menu-mixue-img">
            <div class="menu-mixue-desc">
                <div class="menu-mixue-caption">Menu Mixue Kem Ngon Tuyệt</div>
                <ul class="menu-mixue-list">
                    <li><a href="http://localhost:8080/detail-products?id=1">Kem Super Sundae Socola</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=2">Kem Super Sundae Xoài</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=3">Kem Super Sundae Dâu</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=4">Kem Super Sundae Vị Chocolate Đen</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=5">Kem Ốc Quế Mixue</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=6">Kem Sữa Tươi Lắc</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=7">Kem Sữa Tươi Lắc Socola</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=8">Kem Sữa Tươi Lắc Xoài</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=9">Kem Sữa Tươi Lắc Dâu</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=10">Kem Sữa Tươi Lắc Đào</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=11">Kem Sữa Tươi Lắc Việt Quất</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=12">Hồng Trà Kem</a></li>
                </ul>
            </div>
        </div>

        <!-- Menu trà Sữa-->
        <h2 class="menu-mixue-section-title">Menu Mixue Trà Sữa</h2>
        <div class="menu-mixue-block">
            <img th:src="@{/images/menu3.jpg}" alt="Menu Trà Sữa Mixue" class="menu-mixue-img">
            <div class="menu-mixue-desc">
                <div class="menu-mixue-caption">Menu Mixue Trà Sữa Không Thể Chối Từ</div>
                <ul class="menu-mixue-list">
                    <li><a href="http://localhost:8080/detail-products?id=13">Trà Sữa Đào Cam Sả</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=14">Trà Sữa Dâu Tây</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=15">Trà Sữa Xoài</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=16">Trà Sữa Socola</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=17">Trà Sữa Việt Quất</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=18">Trà Sữa Khoai Môn</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=19">Trà Sữa Dương Chi Cam Lộ</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=20">Trà Sữa Trân Châu Pearl</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=21">Trà Sữa Thạch Dừa</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=22">Trà Sữa 3Q Mixue</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=23">Trà Sữa Bá Vương Mixue</a></li>
                </ul>
            </div>
        </div>

        
        <!-- Menu trà -->
        <h2 class="menu-mixue-section-title">Menu Mixue Trà</h2>
        <div class="menu-mixue-block">
            <div class="menu-mixue-desc">
                <ul class="menu-mixue-list">
                    <li><a href="http://localhost:8080/detail-products?id=24">Trà Đào Cam Sả</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=25">Trà Đen Sữa Mixue</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=26">Trà Xanh Sữa Mixue</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=27">Trà Đen Macchiato</a></li>
                    <li><a href="http://localhost:8080/detail-products?id=28">Trà Xanh Macchiato</a></li>
                </ul>
            </div>
        </div>
    
    
        <!-- Các món nước và kem nền thử -->
        <h2 class="menu-mixue-section-title">Các món nước và kem nền thử của Menu Mixue</h2>
        <div class="menu-mixue-block">
            <p class="menu-mixue-desc">
                Menu kem nền thử và các món nước đặc biệt của Mixue đồng giá 25.000đ – 35.000đ với hương vị hấp dẫn và topping nhiều lựa chọn. Sản phẩm có thể thay đổi theo từng cửa hàng.
            </p>
        </div>
    </div>
</section>
</html>